@page
@model IndexModel
@{
    ViewData["Title"] = "SiZZling-Inn";
}

<div class="banner back-image">
    <div class="content">
        <h1>WHY CHOOSE US ?</h1>
        <ul>
            <li>Elevate guest satisfaction with custom services and offerings, ensuring memorable stays</li>
            <li>Make informed decisions with in-depth analytics and reporting that empower your team</li>
        </ul>
    </div>
</div>

<div style="width:100%;height:10px;background-image:linear-gradient(aqua,blue); margin: 1rem 0;"></div>

<div class="container rooms">

	<img src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/429172503.jpg?k=3ea52e2d12fa14cd0bbf4b73cbe425b5334386f5ffe1a739bbd4f8e6e4d672fb&o=&hp=1"
		 alt="room1" />
	<p class="desc">
		<span class="roomhead">STANDARD ROOMS</span><br /> <br />
		Enjoy a cozy and comfortable stay in our Standard Rooms.
		Perfect for solo travelers or couples, these rooms offer modern amenities and a relaxing ambiance.
		Unwind after a long day of exploration or business meetings in a welcoming space designed for your comfort.
	</p>

</div>
<br />


<div class="container rooms">
	<p class="desc">
		<span class="roomhead">DELUXE ROOMS</span><br /> <br />
		Elevate your stay with our Deluxe Rooms, where luxury meets convenience.
		These spacious rooms offer premium amenities, including stunning views, plush furnishings, and a serene atmosphere.
		Whether you're here for leisure or business, our Deluxe Rooms provide an exceptional retreat.
	</p>
	<img src="https://images.trvl-media.com/lodging/3000000/2060000/2057700/2057662/57d062f6.jpg?impolicy=fcrop&w=1200&h=800&p=1&q=medium" alt="room2" />

</div>
<br />
<div class="container rooms">
	<img src="https://i.pinimg.com/originals/ed/cf/be/edcfbedcb31471868e328307889cfd16.jpg" alt="room3" />
	<p class=" desc">
		<span class="roomhead">SUITE ROOMS</span><br /> <br />
		Indulge in luxury and space with our Suite Rooms.
		Ideal for those seeking an opulent experience, these suites feature separate living and sleeping areas, a private balcony, and access to exclusive services.
		Experience the pinnacle of comfort and elegance during your stay in our Suite Rooms.
	</p>

</div>